In [1]:
import pandas as pd

In [2]:
# read scraped data
cna = pd.read_excel('Output/CNA/cleaned_cna_articles_2020_Jan_to_2025_Oct.xlsx')
st = pd.read_excel('Output/ST/cleaned_st_articles_2020_Jan_to_2025_Oct.xlsx')
bt = pd.read_excel('Output/BT/cleaned_bt_articles_2020-01-01_to_2025-10-31.xlsx')

# label the news site
cna['news_site'] = 'cna'
st['news_site'] = 'st'
bt['news_site']= 'bt'

In [3]:
cna.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           912 non-null    object
 1   url             912 non-null    object
 2   published_date  912 non-null    object
 3   content         912 non-null    object
 4   content_chars   912 non-null    int64
 5   news_site       912 non-null    object
dtypes: int64(1), object(5)
memory usage: 42.9+ KB

In [4]:
st.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 985 entries, 0 to 984
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           985 non-null    object
 1   url             985 non-null    object
 2   published_date  985 non-null    datetime64[ns]
 3   content         985 non-null    object
 4   content_chars   985 non-null    int64
 5   news_site       985 non-null    object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 46.3+ KB

In [5]:
bt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1395 entries, 0 to 1394
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           1395 non-null   object
 1   url             1395 non-null   object
 2   published_date  1395 non-null   datetime64[ns]
 3   content         1395 non-null   object
 4   content_chars   1395 non-null   int64
 5   news_site       1395 non-null   object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 65.5+ KB

In [6]:
# merge the data
df = pd.concat([cna, st, bt], ignore_index=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3292 entries, 0 to 3291
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3292 non-null   object
 1   url             3292 non-null   object
 2   published_date  3292 non-null   object
 3   content         3292 non-null   object
 4   content_chars   3292 non-null   int64
 5   news_site       3292 non-null   object
dtypes: int64(1), object(5)
memory usage: 154.4+ KB

In [11]:
# clean the articles by removing newline characters and strip extra spaces

df['content'] = (
    df['content']
    .astype(str)
    .str.replace(r'\s*\n\s*', ' ', regex=True)
    .str.replace(r'\s+', ' ', regex=True)
    .str.strip()
)

In [12]:
# recompute the number of content chars

df['content_chars'] = df['content'].astype(str).str.len()

In [13]:
df.to_excel('Output/cleaned_news_articles_2020_Jan_to_2025_Oct.xlsx', index=False)